{% extends "base.html" %}

{% block content %}
<main role="main" class="container">
    
    <div>
        <h3 class="lead" style="color: #596272"><strong>Detalle del libro</strong></h3><br>
    </div>
    <div class="row" id="top10" style="box-shadow: none; background-color: #F8F9FA; margin-top: -54px;">
    
        <div class="col-6"></div> 
        {% if user.is_superuser %}
        <div class="col-3">
            <a href="{% url 'actualizar_libro' libro.pk %}" class="btn btn-info btn-block" role="button">Actualizar</a>
        </div>       
        <div class="col-3">           
            <a href="{% url 'eliminar_libro' libro.pk %}" class="btn btn-info btn-block" role="button">Eliminar</a>
        </div>    
        {% endif %}   
    </div>
    <div class="row" id="top10" style="align-items: stretch;">
        <div class="col-3">
            <img class="img-fluid" src="{{ libro.caratula.url }}">
        </div>
        <div class="col-9">
            <h1>Titulo: {{ libro.titulo }}</h1>
            <a href="{% url 'author-detail' libro.autor.pk %}"> <h4>Autor: {{ libro.autor }}</h4> </a>
            <h5>Genero: {{ libro.genero.first }}</h5>
            <h6>ISBN: {{ libro.isbn }}</h6>
            <p style="text-align: justify;">{{ libro.resumen }}</p>
        </div>
    </div>
</main><br>
{% endblock %}